body {
	background-color: #333233;
	font-family: 'Do Hyeon', sans-serif;
}

.main-container {
	margin-bottom: 10%;
}

.body-text {
	margin: 8%;
	font-size: 23px;
}

.small-text {
	font-size: 12px;
}

.logo-wrapper {
	float: left;
	width: 100%;
	height: 200px;
}

.sns-wrapper {
	width: 100%;
	height: 20px;
}

.sns-image {
	float: left;
	margin: 5px;
	width: 15px;
	height: 15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.instagram-image {
	background-image: url('./resource/instagram_logo_grayscale.png');
}

.soundcloud-image {
	background-image: url('./resource/soundcloud_logo_grayscale.png');
}

.gmail-image {
	background-image: url('./resource/gmail_logo_grayscale.png');
}

.serotonin-logo {
	float: right;
	background-image: url('./resource/serotonin_logo.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	margin-right: 10%;
}

.font-color-white {
	color: #ffffff
}

.font-color-till {
	color: #6bc285
}

footer {
	width: 100%;
	margin-top: 5%;
	float: left;
	color: #454545;
}

footer > p {
	float: left;
	width: 100%;
	font-size: 10px
}