body {
	background-color: #333233;
	font-family: 'Do Hyeon', sans-serif;
}

.main-container {
	padding-bottom: 10%;
}

.body-text {
	margin: 10%;
	font-size: 23px;
}

.small-text {
	font-size: 12px;
}

.serotonin-logo {
	position: absolute;
	background-image: url('./resource/serotonin_logo.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	right: 0px;
	height: 200px;
	margin-right: 10%;
	margin-bottom: 10%;
}

.font-color-white {
	color: #ffffff
}

.font-color-till {
	color: #6bc285
}

footer {
	position: absolute;
	text-align: right;
	margin-top: 50px;
	color: #454545;
	margin-bottom: 100px;
}
